/* Blue color code from dark to light
 * #00B2FF
 * #4DC9FF
 * #80D9FF
 * #B3E8FF
 */

body {
  font-family: 'Open Sans', sans-serif;
  background: #B3E8FF;
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 80px;
  padding: 40px;
}

h2 {
  font-size: 40px;
  padding: 30px;
}

a {
  color: darkblue;
}

a:hover {
  text-decoration: none;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 40px;
  overflow: auto;
}

.profile-img {
  width: 300px;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

header, footer {
  background: #00B2FF;
  color: #B3E8FF;
  margin: 0;
}

header h1, header h2 {
  color: blue;
  margin: 0;
}

footer {
  text-align: center;
}

footer p {
  font-size: 12px;
  padding: 5px;
}

.contact-info a {
  padding: 10px;
  display: inline-block;
}
